<?xml version="1.0" encoding="UTF-8"?>
<suite name="CompleteSuite" parallel="tests" > 
    <!-- suite name="Suite Name" --> 
            <suite-files>
                   <suite-file path="./APISuite.xml" />
                   <suite-file path="./UISuite.xml" />
            </suite-files>
    </suite>